{% extends "layout.twig" %}

{% block content %}

 <header>
    <div class="wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
  {{widget('feature', 'featurehome', {"header": "Integer convallis ipsum sed nunc feugia", "strapline":"Ut urna ipsum, pulvinar vitae sagittis in placerat ac nulla alam", "buttonText":"MORE INFO","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '20','showBtn': false})|raw}}
</section>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>  

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
           <div class="column columns-two-left">
                {{widget('content', 'footercolumn1', {"content":"<h3>Lorem Ipsum</h3><p>Nulla scelerisque, metus vitae tincidunt egestas enim antela rutrum orci nec impe rdiet enim libero vitae eros nam mijus la rutrum orci nec impe.</p>"})|raw}}
           </div>
           <div class="column columns-two-right">
                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
           </div>
        </div>
    </div>
</footer>

{% endblock %}
